@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #27374D;

    display: flex;
    flex-direction: column;
}

header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding-block: 1rem;
    z-index: 999;
}
    
header.navbar-container .logo h2 {
    font-family: 'Roboto', sans-serif;
    color: #DDE6ED;
    width: 150px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
   
header.navbar-container .nav-list li {
    list-style-type: none;
}
   
header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: #DDE6ED;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}
   
header.navbar-container .nav-list li:hover a {
    background-color: #9DB2BF;
    color: #DDE6ED;
}
/* End Of Header */

main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content {
    flex: 1;
    display: flex;
    align-items: center;
}
   
main .content .content-description {
    flex: 1 1;
}
   
main .content .content-description .title {
    color: #DDE6ED;
    font-size: 3.5rem;
    margin-block: 1rem;
}

main .content .content-description .role {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}
   
  main .content .content-description p {
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}
   
main .content .content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #526D82;
    cursor: pointer;
    transition: all .15s ease-in;
}
   
main .content .content-description button:hover {
    border: 3px solid #DDE6ED;
    color: #9DB2BF;
    background-color: transparent;
}
   
main .content .content-image {
    flex: 1;
    display: flex;
}

main .content .content-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
}

/* project */
main .project {
    max-width: 800px;
    margin: 40px auto;
}

main .project h1 {
    display: flex;
    justify-content: center;
    color: #DDE6ED;
    font-size: 3.0rem;
    margin-block: 1rem;
}

main .project .project-list {
    display: flex;
    flex-direction: column;
}

main .project .project-satu h2 {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}

main .project .project-satu .content-project-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

main .project .project-satu .content-project-1 p{
    align-items: stretch;
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

main .project .project-satu .content-project-1 img{
    margin: auto;
    min-width: 250px;
    width: 300px;
    align-items: stretch;
}

main .project .project-dua h2 {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}

main .project .project-dua .content-project-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

main .project .project-dua .content-project-2 p{
    align-items: stretch;
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

main .project .project-dua .content-project-2 img{
    margin: auto;
    min-width: 250px;
    width: 300px;
    align-items: stretch;
}

main .project .project-tiga h2 {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}

main .project .project-tiga .content-project-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

main .project .project-tiga .content-project-3 p{
    align-items: stretch;
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

main .project .project-tiga .content-project-3 img{
    margin: auto;
    min-width: 250px;
    width: 300px;
    align-items: stretch;
}

/* blog */
main .blog {
    max-width: 800px;
    margin: 40px auto;
}

main .blog h1 {
    display: flex;
    justify-content: center;
    color: #DDE6ED;
    font-size: 3.0rem;
    margin-block: 1rem;
}

main .blog .blog-list {
    display: flex;
    flex-direction: column;
}

main .blog .blog-list .blog-satu h2 {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}

main .blog .blog-list .blog-satu p{
    align-items: stretch;
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

main .blog .blog-list .blog-dua h2 {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}

main .blog .blog-list .blog-dua p {
    align-items: stretch;
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

main .blog .blog-list .blog-tiga h2 {
    color: #DDE6ED;
    font-size: 2.0rem;
    margin-block: 1rem;
}

main .blog .blog-list .blog-tiga p {
    align-items: stretch;
    color: #DDE6ED;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

/* about */
aside {
    position: fixed;
    inset-inline-end: 0;
    border: 4px solid #DDE6ED;
    padding: 5px 10px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: #9DB2BF
}

aside .about h1 {
    display: flex;
    justify-content: center;
    color: #DDE6ED;
    font-size: 1.0rem;
    margin-block: 1rem;
}

aside .about .biodata ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    gap: 1rem;
}

aside .about .biodata li {
    list-style-type: none;
}

aside .about .biodata li a {
    text-decoration: none;
    font-size: 0.7rem;
    color: #DDE6ED;
    transition: all .1s ease-in-out
}

aside .about h2 {
    display: flex;
    justify-content: center;
    color: #DDE6ED;
    font-size: 0.8rem;
    margin-block: 1rem;
}

aside .about .skill-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    gap: 2rem 1rem;
}

aside .about .skill-list li {
    list-style-type: none;
}

aside .about .skill-list li a {
    text-decoration: none;
    font-size: 2.0rem;
    color: #DDE6ED;
    transition: all .1s ease-in-out
}

/* end of main */

footer {
    background-color: #526D82;
    color: #DDE6ED;
    padding: 20px;
    text-align: center;
}

